<!-- -------------- MAIN ---------------- -->
<main class="wrapper">
  <!-- -------------- FEATURED BOX ---------------- -->
  <section class="featured-box" id="home">
    <div class="featured-text">
      <div class="featured-text-card">
        <span>Nisrine Rane</span>
      </div>
      <div class="featured-name">
        <p>I'm <span class="typedText"></span></p>
      </div>
      <div class="featured-text-info">
        <p>
          I am Nisrine Rane, a passionate full-stack developer and software
          engineer dedicated to embracing new challenges. I enjoy exploring
          emerging technologies to discover innovative solutions and am
          enthusiastic about applying my knowledge to address real-world
          issues. I am currently looking for opportunities to enhance my skill
          set in a practical environment. Let's collaborate to shape the future
          together!
        </p>
      </div>
      <div class="featured-text-btn">
        <button class="btn blue-btn">Hire Me</button>
        <a href="https://bit.ly/4eVbMpR" class="btn">
          Download CV <i class="uil uil-file-alt"></i>
      </a>
      
      </div>
      <div class="social_icons">
        <a href="https://www.instagram.com" target="_blank" class="icon">
          <i class="uil uil-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/nisrine-r-b86779269/" target="_blank" class="icon">
          <i class="uil uil-linkedin-alt"></i>
        </a>
        <a href="https://dribbble.com" target="_blank" class="icon">
          <i class="uil uil-dribbble"></i>
        </a>
        <a href="https://github.com/NISRINERANE" target="_blank" class="icon">
          <i class="uil uil-github-alt"></i>
        </a>
      </div>
    </div>
    <div class="featured-image">
      <div class="image">
        <img src="assets/images/nisrinerane.jpg" alt="Nisrine Rane">

      </div>
    </div>
    <div class="scroll-icon-box">
      <a href="#contact" class="scroll-btn">
        <i class="uil uil-mouse-alt"></i>
        <p>Scroll Down</p>
      </a>
    </div>
  </section>
  <br />
  <br />
  <br />
</main>