<section class="projects" id="projects">
    <div class="top-header">
        <h1>Projects</h1>
      </div>
    <!-- Gestion et Synchronisation des Données Project Card -->
    <div class="project-card">
        <div class="project-content">
            <h3 class="project-title">Gestion et Synchronisation des Données</h3>
            <p class="project-description">
                Application web de gestion et synchronisation des données, utilisant Keycloak pour l'authentification, Spring Boot pour le back-end et Angular avec Angular Material pour le front-end.
            </p>
            <div class="project-tags">
                <span>Keycloak</span>
                <span>Docker</span>
                <span>Spring Boot</span>
                <span>Angular</span>
                <span>Angular Material</span>
                <span>PostgreSQL</span>
                <span>MySQL</span>
                <span>UML</span>
                <span>Git</span>
                <span>GitHub</span>
                <span>Trello</span>
            </div>
            <a href="https://github.com/NISRINERANE/Stage-2024" aria-label="Source code" target="_blank" title="Source code" rel="noopener">
                <i class="fas fa-code"></i>
            </a>
        </div>
    </div>
</section>


  
<section class="projects" id="projects">
    <!-- E-Coach Project Card -->
    <div class="project-card">
        <div class="project-content">
            <h3 class="project-title">E-Coach</h3>
            <p class="project-description">
                Développement d'une application web dédiée à l'e-coaching, permettant aux utilisateurs de trouver des coachs adaptés à leurs besoins spécifiques et de bénéficier de séances de coaching à distance.
            </p>
            <div class="project-tags">
                <span>Laravel</span>
                <span>NodeJS</span>
                <span>ReactJS</span>
                <span>RestFul API</span>
                <span>Microsoft Azure</span>
                <span>PHP</span>
                <span>JavaScript</span>
            </div>
            <a href="https://github.com/NISRINERANE/E-coach-Laravel-PHP" aria-label="Source code" target="_blank" title="Source code" rel="noopener">
                <i class="fas fa-code"></i>
            </a>
        </div>
    </div>
</section>

<section class="projects" id="projects">
    <!-- HospEase Project Card -->
    <div class="project-card">
        <div class="project-content">
            <h3 class="project-title">HospEase</h3>
            <p class="project-description">
                Développement d'une application web de gestion d'hôpital, facilitant la gestion des patients, des rendez-vous, des médecins, et des dossiers médicaux, avec une interface utilisateur simple et efficace.
            </p>
            <div class="project-tags">
                <span>Spring Boot</span>
                <span>Thymeleaf</span>
                <span>MySQL</span>
                <span>RestFul API</span>
                <span>Hibernate</span>
                <span>Java</span>
                <span>HTML/CSS</span>
            </div>
            <a href="https://github.com/NISRINERANE/Gestion-Hopital-JAVA" aria-label="Source code" target="_blank" title="Source code" rel="noopener">
                <i class="fas fa-code"></i>
            </a>
        </div>
    </div>
</section>
<section class="projects" id="projects">
    

    <!-- Plateforme d'Enseignement à Distance Project Card -->
    <div class="project-card">
        <div class="project-content">
            <h3 class="project-title">Plateforme d'Enseignement à Distance</h3>
            <p class="project-description">
                Conception, développement et maintenance d'une plateforme d'enseignement à distance utilisant PHP, JavaScript, HTML/CSS, et MySQL. Intègre des fonctionnalités telles que l'authentification des utilisateurs, la gestion des cours, des devoirs, et des notes.
            </p>
            <div class="project-tags">
                <span>PHP</span>
                <span>JavaScript</span>
                <span>HTML/CSS</span>
                <span>MySQL</span>
                <span>Bootstrap</span>
                <span>UML</span>
                <span>Git</span>
                <span>GitHub</span>
                <span>Trello</span>
            </div>
            <a href="https://github.com/NISRINERANE/PFE-ADIS-PHP" aria-label="Source code" target="_blank" title="Source code" rel="noopener">
                <i class="fas fa-code"></i>
            </a>
        </div>
    </div>
</section>




