<div class="container">
    <div class="navbar-container">
        <app-navbar></app-navbar>
    </div>

    <div class="hero-container">
        <app-hero></app-hero>
    </div>
    <br>
    <br>

    <div class="skills-container">
        <app-skills></app-skills>
    </div>
    <br>
    <br>

    <div class="projects-container">
        <app-projects></app-projects>
    </div>
    <br>
    <br>

    <div class="contacts-container">
        <app-contacts></app-contacts>
    </div>
    <br>
    <br>

    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>
